.maintab {
    transition-duration: 0.2s;
    padding-right: 8px;
    font-size: 17px;
}

.maintab.subtab {
}

.maintab:hover {
    opacity: 0.8;
}

.maintab.setting {
    float: right;
    padding-right: 0px;
    padding-left: 2px;
    color: #888;
}

.maintab.data {
    float: right;
    padding-right: 0px;
    padding-left: 2px;
}